/*common*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.wd1200 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

#section {
    font-family: 'NanumSquare', sans-serif;
}

.skew{
    transform: skew(-0.03deg);
}

/*font*/

@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
