/*header*/

#header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../images/header_image.png);
    background-size: cover;
}

.header_gnb_inner {
    width: 80%;
    margin: 0 auto;
}

.header_logo {
    width: 100px;
    float: left;
    cursor: pointer;
}

.header_gnb_box {
    width: 60%;
    float: right;
}

.header_gnb {
    width: calc(100%/5);
    float: left;
    font-family: 'NanumSquare', sans-serif;
    color: white;
    cursor: pointer;
}

.header_gnb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.header_gnb_txt {
    font-size: 18px;
    line-height: 100px;
    text-align: center;
    transform: skew(-0.03deg);
}

.header_ment_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid white;
    padding: 25px;
    margin-top: -130px;
    margin-left: -155.5px;
    z-index: 2;
}

.header_ment_txt {
    font-family: 'S-CoreDream-4Regular';
    font-size: 50px;
    line-height: 1.5;
    text-align: center;
    color: white;
}

.header_ment_inner .bold_txt {
    font-family: 'S-CoreDream-8Heavy';
    font-size: 70px;
}


@media screen and (max-width:1024px) {
    .header_logo {
        width: 80px;
    }

    .header_gnb_txt {
        line-height: 80px;
    }

    .header_ment_txt {
        font-size: 40px;
    }

    .header_ment_inner .bold_txt {
        font-size: 65px;
    }

    .header_ment_inner {
        margin-top: -136.5px;
        margin-left: -163.2px;
    }
}

@media screen and (max-width:768px) {
    .header_black_back {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        /*        background-color: rgba(0,0,0,0.7);*/
        z-index: 10;
    }

    .header_gnb_box {
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        height: 100vh;
        background-color: #e78c34;
        z-index: 20;
    }

    .header_gnb {
        display: table;
        position: relative;
        width: 100%;
        height: 13vh;
        border-bottom: 1px solid #be6815;
        float: none;
        color: black;
        box-sizing: border-box;
    }

    .header_gnb:nth-child(2) {
        border-top: 1px solid #be6815;
    }

    .header_gnb_txt {
        display: table-cell;
        vertical-align: middle;
        font-size: 22px;
        line-height: 1.5;
        color: white;
        font-weight: bold;
    }

    .mobile_menu_exit_btn {
        width: 40px;
        height: 40px;
        margin: 20px 0 20px 20px;
        background-image: url(../images/arrow.png);
        background-size: cover;
    }

    .mobile_nav_arrow {
        position: absolute;
        top: 50%;
        margin-top: -12px;
        right: 20px;
        width: 20px;
        height: 20px;
        background-image: url(../images/nav_arrow.png);
        background-size: cover;
    }

    .header_logo {
        margin: 0 auto;
        float: none;
    }

    .mobile_menu_btn {
        position: absolute;
        top: 20px;
        width: 40px;
        height: 40px;
        background-image: url(../images/open-menu.png);
        background-size: cover;
        cursor: pointer;
    }
}

@media screen and (max-width:480px) {
    .header_ment_inner {
        margin-top: -110.5px;
        margin-left: -132px;
    }

    .header_ment_txt {
        font-size: 30px;
    }

    .header_ment_inner .bold_txt {
        font-size: 50px;
    }
}
