/*section*/

#section {
    word-break: keep-all;
}

#section p,
#section h1 {
    transform: skew(-0.03deg);
}

.section_chapter {
    margin-top: 50px;
}

.chapter_title {
    text-align: center;
    color: #f48518;
    font-size: 50px;
    line-height: 1.2;
}

.sub_title {
    color: black;
    font-size: 30px;
}

.chapter_title::after {
    content: "";
    display: block;
    width: 10%;
    height: 10px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #f48518;
}

.chapter_content {
    margin-top: 30px;
}

.content_txt {
    line-height: 1.5;
    text-align: center;
}

.intro_image_inner {
    margin-top: 30px;
}

.intro_image {
    width: 30%;
    margin-right: 5%;
    float: left;
}

.intro_image:last-child {
    margin-right: 0;
}


.main_nav_inner {
    overflow: hidden;
    margin-top: 30px;
}

.main_nav {    
    width: 50%;
    height: 400px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 1s;
}

.main_nav:first-child {
    background-image: url(../images/main_1.png);
}

.main_nav:last-child {
    background-image: url(../images/main_2.png);
}

.main_nav:hover{
    transform: scale(1.2);
}

.main_nav_txt {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 400px;
    color: white;
}


.event {
    display: table;
    width: 45%;
    border: 1px solid #8d8d8d;
    float: left;
}

.event:last-child {
    float: right;
}

.event:not(.event_empty) {
    cursor: pointer;
}

.event_content {
    width: 90%;
    margin: 30px auto;
}

.event_title {
    font-size: 22px;
}

.event_date_txt {
    margin-top: 15px;
}

.event_more_box {
    padding: 10px 0;
    background-color: #f48518;
}

.event_more_txt {
    font-size: 20px;
    text-align: center;
    color: white;
}

.event_empty_box {
    display: table-cell;
    vertical-align: middle;
}

.event_empty_logo {
    width: 69px;
    height: 61px;
    margin: 0 auto;
    background-image: url(../images/event_empty.png);
    background-size: cover;
}

.evvent_empty_title {
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
}


.backcolor {
    padding: 30px 0;
    background-color: rgba(244, 133, 24, 0.2);
}

.service {
    overflow: hidden;
    width: 45%;
    height: 280px;
    float: left;
    background-color: white;
    box-shadow: 0px 2px 10px #686868;
}

.service:last-child {
    float: right;
}

.service_wrap {
    width: 80%;
    margin: 20px auto;
}

.notice_title {
    font-size: 20px;
    text-align: center;
}

.notice_date_txt {
    margin-top: 10px;
    font-size: 14px;
    text-align: right;
}

.notice_content {
    margin-top: 30px;
}

.notice_txt {
    height: 10.5em;
    line-height: 1.5;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.question_logo {
    width: 20px;
    height: 28px;
    background-image: url(../images/question.png);
    background-size: cover;
    float: left;
}

.faq_header {
    padding-bottom: 16px;
}

.faq_title {
    margin-left: 10px;
    float: left;
    font-size: 20px;
    line-height: 28px;
}

.faq_content {
    border-top: 1px solid #f48518;
    padding-top: 15px;
}

.faq_txt {
    line-height: 1.5;
}

@media screen and (max-width:1024px){
    .sub_title{
        font-size: 25px;
    }
    
    .chapter_title{
        font-size: 40px;
    }
    
    .event_title{
        font-size: 18px;
    }
    
    .notice_title{
        line-height: 1.3;
    }
    
    .faq_title{
        font-size: 15px;
    }
    
    .faq_txt,
    .notice_txt{
        font-size: 14px;
    }
    
    .notice_txt{
        height: 9em;
    }
}

@media screen and (max-width:768px){
    .main_nav_txt{
        font-size: 25px;
    }
    
    .event_title{
        text-align: center;
        line-height: 1.5;
    }
    
    .event_date_txt{
        font-size: 14px;
        text-align: center;
    }
    
    .event_empty_logo{
        width: 50px;
        height: 44px;
    }
    
    .evvent_empty_title{
        font-size: 18px;
    }
    
    .question_logo{
        float: none;
        margin: 0 auto;
    }
    
    .faq_title{
        margin-top: 10px;
        margin-left: 0;
        text-align: center;
    }
    
    .service{
        height: 400px;
    }
    
    .notice_txt{
        height: 15em;    
    }
}

@media screen and (max-width:480px){
    .sub_title{
        font-size: 20px;
    }
    
    .chapter_title{
        font-size: 30px;
    }
    
    .content_txt{
        font-size: 14px;
    }
    
    .intro_image{
        width: 100%;
        margin-top: 30px;
        margin-right: 0;
        float: none;
    }
    
    .intro_image:first-child{
        margin-top: 0;
    }
    
    .main_nav{
        width: 100%;
        height: 200px;
        float: none;
    }
    
    .main_nav_txt{
        line-height: 200px;
    }
    
    .event{
        width: 100%;
        float: none;
    }
    
    .event:last-child{
        margin-top: 30px;
    }
    
    .service{
        width: 100%;
        height: auto;
        float: none;
    }
    
    .service_wrap{
        margin: 0 auto;
        padding: 20px 0;
    }
    
    .service:last-child{
        margin-top: 30px;
    }
}